# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* List of popular languages that Data Science.
* List of popular libraries that Data Science.
* Table of development environment open source tools used in data science.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Keras
3. Pandas
4. PyTorch

|Data science tools|
|-----|
|Rstudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

## Author
Ibtissam Aboufares